---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/293686/historical/24?apikey=CcxeOCn3PG4FYulD9lgHkryld4WD1oVv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '[{"LocalObservationDateTime":"2022-01-11T19:58:00+03:00","EpochTime":1641920280,"WeatherText":"Some
        clouds","WeatherIcon":36,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":9.2,"Unit":"C","UnitType":17},"Imperial":{"Value":49.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/krasnodar/293686/current-weather/293686?lang=en-us","Link":"http://www.accuweather.com/en/ru/krasnodar/293686/current-weather/293686?lang=en-us"},{"LocalObservationDateTime":"2022-01-11T18:58:00+03:00","EpochTime":1641916680,"WeatherText":"Some
        clouds","WeatherIcon":36,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":10.5,"Unit":"C","UnitType":17},"Imperial":{"Value":51.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/krasnodar/293686/current-weather/293686?lang=en-us[...]
